/* styles.css */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

:root {
  --blue: #4285f4;
  --darkblue: #043f9d;
}

.container {
  display: flex;
}

.info-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  background-color: var(--blue);
  padding: 8px 18px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  transition-duration: 300ms;
}

.info-button:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.web-info-panel {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  background-color: white;
  height: 100vh;
  width: 100vw;
  transition: all 0.5s ease;
  opacity: 0;
  pointer-events: none;
}

.web-info-panel .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.web-info-panel .container .btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.web-info-panel .container .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Style the map container */
#map {
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

/* Marker style */
/* Base marker styling */
.custom-marker {
  background-color: white;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 6px;
  color: #333;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  width: 80px; /* Control the width of the marker */
  position: relative; /* Allow pseudo-elements positioning */
  line-height: 1.2;
}

/* Arrow styling */
.custom-marker::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid black;
  z-index: -1;
}

.custom-marker::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}

/* Highlight effect for the marker */
.highlighted-marker {
  position: relative;
  border: 3px solid rgba(47, 0, 255, 0.8); /* Highlight border */
  box-shadow: 0px 0px 12px rgba(0, 0, 255, 0.5); /* Blue glow */
  border-radius: 8px; /* Match the shape of the marker */
  z-index: 1000 !important; /* Bring to the top */
}

/* Highlight effect for the arrow */
.highlighted-marker::before {
  border-top-color: rgba(255, 0, 0, 0.8); /* Match highlight border */
}

.highlighted-marker::after {
  border-top-color: white; /* Keep inner arrow white */
}

.custom-marker h4 {
  margin: 0;
  font-size: 15px;
  color: var(--blue);
}

.custom-marker p {
  margin: 0;
  font-size: 8px;
  color: #333;
}

/* Green status */
.green-marker {
  border-color: #00ff00; /* Green border */
  color: #00ff00; /* Green price text */
}

/* Yellow status */
.yellow-marker {
  border-color: #ffff00; /* Yellow border */
  color: #ffff00; /* Yellow price text */
}

/* Red status */
.red-marker {
  border-color: #ff0000; /* Red border */
  color: #ff0000; /* Red price text */
}

.custom-marker.cheapest-marker {
  border: 2px solid rgb(0, 255, 64); /* Highlight with a bold gold border */
  background-color: #fffacd; /* Light yellow background */
}

.marker-tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: gold;
  color: black;
  padding: 5px;
  font-size: 12px;
  border-radius: 3px;
  white-space: nowrap;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  display: none;
}

.cheapest-marker:hover .marker-tooltip {
  display: block;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 20px 0;
}

.spinner {
  display: none; /* Initially hidden */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 1000; /* Ensures it appears above all other content */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Info panel floating on the left corner of the map */
#info-panel {
  display: none;
  width: 0;
  height: auto;
  max-height: 100vh;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  z-index: 0;
  opacity: 0;
  transition: all 250ms ease-in-out;
  overflow-y: scroll;
  overflow-x: hidden;
}

#info-panel.activate {
  display: block;
  opacity: 1;
  width: 35vw;
  padding: 10px;
}

.info-buttons {
  display: flex;
  gap: 20px;
}

.info-buttons button {
  background-color: var(--blue);
  padding: 10px 13px;
  border-radius: 50%;
  margin-top: 20px;
  border: none;
  color: white;
  transition: all ease-in-out 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.info-buttons button:hover {
  background-color: var(--darkblue);
}

#photo-gallery {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.photo-gallery-img {
  width: 100%;
  height: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 7px;
  transition: opacity 0.5s ease-in-out;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
}

#hotel-name {
  text-align: center;
  font-weight: bolder;
}

.hotel-desc {
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-left: 30px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 500;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 15px;
  background: linear-gradient(to right, #0056b3, #4286f4);
  font-size: 15px;
}

#hotel-price {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.star-icon {
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
  margin-right: 2px; /* Spacing between stars */
}

#book-hotel-btn,
#hotel-website,
#directions-btn {
  color: white;
  background-color: var(--blue);
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center; /* Ensures alignment of text and image */
  border-radius: 10px;
  margin: 5px 0;
  text-decoration: none;
  transition: 250ms all ease-in-out;
  cursor: pointer;
  border: 2px solid black;
  font-size: 18px;
  gap: 8px; /* Adds spacing between the text and the image */
}

#book-hotel-btn:hover,
#directions-btn:hover,
#hotel-website:hover {
  border: 2px solid black;
  background-color: white;
  color: var(--darkblue);
}

#directions-btn img.icon {
  width: 18px; /* Adjust image width */
  height: 18x; /* Adjust image height */
  display: inline-block; /* Ensure proper inline alignment */
}

#book-hotel-btn img.icon {
  width: 18px; /* Adjust image width */
  height: 18x; /* Adjust image height */
  display: inline-block; /* Ensure proper inline alignment */
}

#close-btn {
  cursor: pointer;
  font-size: 20px;
  text-align: right;
  background-color: var(--blue);
  color: white;
  padding: 8px 12px;
  border-radius: 50%;
  transition: 250ms all ease;
}

#close-btn:hover {
  background-color: var(--darkblue);
}

.footer {
  background-color: #333;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.footer .container {
  width: 100%;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  margin-bottom: 20px;
}

.footer-links a {
  color: white;
}

.footer-copyright {
  text-align: center;
  color: white;
}

@media (max-width: 992px) {
  #info-panel {
    width: 45vw;
  }

  #info-panel.activate {
    opacity: 1;
    width: 45vw;
    padding-top: 8vh;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
  }

  #map {
    width: 100vw;
  }

  #info-panel {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 100vw;
    height: 0;
    min-height: 100vh;
    z-index: -999;
  }

  #info-panel.activate {
    opacity: 1;
    bottom: 0;
    height: 120vh;
    width: 100vw;
    z-index: 999;
  }

  .photo-gallery-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    max-height: 600px;
  }

  .hotel-desc {
    font-size: 16px;
  }

  #hotel-price {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
  }
}

#hotel-reviews-wrapper {
  max-height: 250px;
  overflow-y: auto;
  padding: 20px 10px;
  margin: 20px 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.reviews-container {
  display: flex;
  flex-direction: column;
}

.review {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1.5;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.review .review-title {
  margin-bottom: 20px;
}

.review strong {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
}

.review-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.navigation-btn {
  background-color: #007bff;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navigation-btn:hover {
  background-color: #0056b3;
}

.navigation-btn:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f44336; /* Red warning color */
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popup.hidden {
  display: none;
}

#popup-close-btn {
  background: white;
  color: #f44336;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

#popup-close-btn:hover {
  background: #ffddd4;
}

/* CSS for Search Panel */
.search-panel {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: #ffffff;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  transition: top 0.5s ease, opacity 0.3s ease;
  opacity: 1;
}

.search-panel.hidden {
  top: -440px;
}

.search-panel.removed {
  opacity: 0;
  pointer-events: none;
}

.search-panel label,
.search-panel input,
.search-panel button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

.search-panel input[type="number"],
.search-panel input[type="date"] {
  width: calc(100% - 20px);
  padding: 8px 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
}

.search-panel input[type="number"]:focus,
.search-panel input[type="date"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.map-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
}

.map-button:hover {
  background-color: #0056b3;
}

.map-button:active {
  background-color: #004080;
  box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Media query for responsive adjustments */
@media (max-width: 768px) {
  .search-panel {
    width: 90%;
    padding: 10px 15px;
  }

  .search-panel input[type="number"],
  .search-panel input[type="date"] {
    width: 100%;
  }
  .search-panel.hidden {
    top: -440px;
  }
}

/* Panel handle for clicking */
.panel-handle {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #007bff;
  margin-top: 5px; /* Ensure the handle stays visible */
  display: none;
}

.panel-handle.visible {
  display: block;
}

/* Adjust Hide Panel Handle */
#hide-panel-handle {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  color: #007bff;
  margin-top: 10px;
  display: block; /* Ensure it's displayed */
}

#hide-panel-handle:hover {
  color: #0056b3;
}

/* Base cluster styling */
.marker-cluster {
  background-color: rgba(51, 136, 255, 0.8); /* Light blue background */
  color: #fff; /* White text */
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  
}

/* Small clusters */
.marker-cluster-small {
  background-color: rgba(0, 204, 102, 0.8); /* Green for small clusters */

  width: 40px;
  height: 40px;
  line-height: 40px;
}

/* Medium clusters */
.marker-cluster-medium {
  background-color: rgba(255, 153, 51, 0.8); /* Orange for medium clusters */
  width: 50px;
  height: 50px;
  line-height: 50px;
}

/* Large clusters */
.marker-cluster-large {
  background-color: rgba(255, 51, 51, 0.8); /* Red for large clusters */
  width: 60px;
  height: 60px;
  line-height: 60px;
}

/* Text inside the cluster */
.marker-cluster div {
  font-size: 18px;
  font-weight: bold;
}

/* Hover effect on clusters */
.marker-cluster:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
